:root {
    --dark-gray: rgb(29, 29, 29);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Mono', monospace;

    background: rgb(26, 32, 41);

}


/*------------------NAVBAR----------------------*/
.navbar {
    height: auto;

    background: rgb(29, 29, 29);
    color: #fff;
}

.navbar-logo {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.navbar-link {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
}

.navbar-link:hover {
    color: #fff;
    text-decoration: underline;
}

/*------------------CARD----------------------*/
.card {
    background: var(--dark-gray);
    color: #fff;
}

/* FORM */
.form {
    background: rgb(29, 29, 29);
    color: #fff;
}
